<h1>Inventory Table</h1>
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable [value]="listings" selectionMode="single" [(selection)]="selectedListing" (onRowSelect)="onRowSelect($event)"
             [paginator]="true" rows="15" [responsive]="true" [globalFilter]="gb">
  <p-header>Inventory table</p-header>
  <p-column header="Name" [sortable]="true">
    <ng-template let-listing="rowData" pTemplate="body">
      <span>{{listing.item.name}}...</span>
    </ng-template>
  </p-column>
  <p-column field="sku" header="SKU" [sortable]="true"></p-column>
  <p-column field="item.price" header="Stock Price" [sortable]="true"></p-column>
  <p-column field="price" header="Our Price" [sortable]="true"></p-column>
  <p-column header="Stock Link" [sortable]="true">
    <ng-template let-listing="rowData" pTemplate="body">
      <span><a href="{{listing.item.link}}" target="_blank">Open in Stock</a></span>
    </ng-template>
  </p-column>
  <p-column header="Is Active" [sortable]="true">
    <ng-template let-listing="rowData" pTemplate="body">
      <span>
        <i *ngIf="listing.active" class="fa fa-check" aria-hidden="true"></i>
        <i *ngIf="!listing.active" class="fa fa-times" aria-hidden="true"></i>
      </span>
    </ng-template>
  </p-column>

  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </p-footer>
</p-dataTable>

<p-dialog header="Listing Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">Name</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="listing.item.name" disabled/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="sku">SKU</label></div>
      <div class="ui-grid-col-8"><input pInputText id="sku" [(ngModel)]="listing.sku"/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="docPrice">Stock Price</label></div>
      <div class="ui-grid-col-8"><input pInputText id="docPrice" [(ngModel)]="listing.item.price" disabled/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="amzPrice">Our Price</label></div>
      <div class="ui-grid-col-8"><input pInputText id="amzPrice" [(ngModel)]="listing.price"/></div>
    </div>
  </div>

  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="ebayLink">Stock Link</label></div>
      <div class="ui-grid-col-8"><input pInputText id="ebayLink" [(ngModel)]="listing.item.link" disabled/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="isActive">Is Active</label></div>
      <div class="ui-grid-col-8"><p-checkbox id="isActive" [(ngModel)]="listing.active" binary="true"></p-checkbox></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Listing Details" [(visible)]="displayDialogToAdd" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">Link</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="listing.item.name"/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="name">Name</label></div>
      <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="listing.item.name" disabled/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="sku">SKU</label></div>
      <div class="ui-grid-col-8"><input pInputText id="sku" [(ngModel)]="listing.sku"/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="docPrice">Stock Price</label></div>
      <div class="ui-grid-col-8"><input pInputText id="docPrice" [(ngModel)]="listing.item.price" disabled/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="amzPrice">Our Price</label></div>
      <div class="ui-grid-col-8"><input pInputText id="amzPrice" [(ngModel)]="listing.price"/></div>
    </div>
  </div>

  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="ebayLink">Stock Link</label></div>
      <div class="ui-grid-col-8"><input pInputText id="ebayLink" [(ngModel)]="listing.item.link" disabled/></div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="listing">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="isActive">Is Active</label></div>
      <div class="ui-grid-col-8"><p-checkbox id="isActive" [(ngModel)]="listing.active" binary="true"></p-checkbox></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
