<input type="text" pInputText [(ngModel)]="itemLink" />

<button type="button" (click)="searchItems()" pButton label="Get"></button>

<p *ngIf="items === null">There is nothing</p>
<div *ngFor="let item of items">
  <p>{{item.name}}</p>
  <p>{{item.price}}</p>
  <p><img src="{{item.imgLink}}"></p>
</div>
